.movieRow {
  margin-bottom: 30px;
}
.movieRow h2 {
  margin: 0px 0px 0px 30px;
}
.movieRow--listarea {
  overflow-x: hidden;
  padding-left: 30px;
  height: 400px;
}
.movieRow--list {
  transition: all ease 0.25s;
}
.movieRow--item {
  display: inline-block;
  width: 250px;
}
.movieRow--item img {
  width: 100%;
  transform: scale(0.9);
  transition: all ease 0.2s;
}
.movieRow--item img:hover {
  transform: scale(1);
  cursor: pointer;
}
.movieRow--arrowRight,
.movieRow--arrowLeft {
  position: absolute;
  width: 40px;
  height: 400px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  opacity: 0;
  transition: all ease 0.2s;
}
.movieRow--arrowLeft {
  left: 0;
  z-index: 99;
}
.movieRow--arrowRight {
  right: 0;
  z-index: 99;
}
.movieRow:hover .movieRow--arrowLeft,
.movieRow:hover .movieRow--arrowRight {
  opacity: 1;
}

@media (max-width: 760px) {
  .movieRow--arrowLeft,
  .movieRow--arrowRight {
    height: 220px;
    opacity: 1;
  }
  .movieRow--item {
    width: 150px;
  }
  .movieRow--listarea {
    height: 220px;
    overflow-y: hidden;
    overflow-x: hidden;
  }
}
